<div class="container-fluid">
  <nav class="navbar navbar-expand" style="background-color: #2874f0;">
    <div class="logo">
      <img style="display: block;" width="75px" height="20px"
        src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/flipkart-plus_8d85f4.png">
      <p>
        Explore
        <span style="color: #ffe500;"> plus</span>
        <img src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/plus_aef861.png" width="10px"
          height="10px">
      </p>
    </div>
    <div class="search">
      <input type="text" placeholder="search for products and more">
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>

    <div>
      <button class="loginBtn" routerLink="/login">Login</button>
    </div>

    
     
      <a href="#">Become a Seller</a>
      <a href="#">More</a>
      <a href="#">

        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="color: white;"></i>
        Cart</a>
      

    




  </nav>
 
</div>




<footer>
  <p>Author: Hege Refsnes<br>
  <a href="mailto:sagargopale2020@gmail.com">suppot@flipkart.com</a></p>
</footer>





























































































<router-outlet></router-outlet>